<?xml version="1.0"?>
<!--
/**
 * WebAppDev
 * @package WebAppDev_ProductBrand
 * @author WebAppDev <https://github.com/webappdev1990/>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="AddAttPlug" type="WebAppDev\ProductBrand\Plugin\DefaultItem" disabled="false" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="checkout-summary-product-attribute" type="WebAppDev\ProductBrand\Plugin\Checkout\Model\DefaultConfigProvider" />
    </type>
</config>